.esri-view {
  height: 500px;
}

.label {
  font-size: 18px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.full-w {
  width: 100%;
}

.mat-toolbar {
  background: #F9EAC3;
 }

app-restaurant-form {
  display: flex;
  justify-content: center;
}

.whole-page {
  background-color: #F9EAC3;
}
