<div class="container">
    <h1>Add Restaurant</h1>
    <form>
      <div>
        <label for="name">Name</label>
        <p class="form-group">
          <input type="text" class="form-control" id="name" required [(ngModel)]="restaurant.name" name="name">
        </p>
      </div>

      <div>
        <label for="latitude">Latitude</label>
        <p class="form-group">
          <input type="number" class="form-control" id="latitude" required [(ngModel)]="restaurant.latitude" name="latitude">
        </p>
      </div>

      <div>
        <label for="longitude">Longitude</label>
        <p class="form-group">
          <input type="number" class="form-control" id="longitude" required [(ngModel)]="restaurant.longitude" name="longitude">
        </p>
      </div>

      <button type="reset" class="btn btn-success" (click)="save()">Submit</button>
    </form>
</div>

