button {
    background-color: #5eccd6;
    border-radius: 20px;
    color: #fff;
    padding: 0 50px;
  }
  
  form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
    width: 300px;

  }
  input {
    color: black;
  }

  mat-label {
    color: black;
  }

  mat-form-field {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 0.7;
    height: 55px;
  }
